@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Government_Helping_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <style>


        .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
    transform: translatex(-50%);
    }

        .scroll {
            color: #fff;
            margin-top: 100px
        }

        #toTopBtn {
            position: fixed;
            bottom: 26px;
            right: 39px;
            z-index: 98;
            padding: 21px;
            background-color: hsla(5, 76%, 62%, .8)
        }

        .js .cd-top--fade-out {
            opacity: .5
        }

        .js .cd-top--is-visible {
            visibility: visible;
            opacity: 1
        }

        .js .cd-top {
            visibility: hidden;
            opacity: 0;
            transition: opacity .3s, visibility .3s, background-color .3s
        }

        .cd-top {
            position: fixed;
            bottom: 20px;
            bottom: var(--cd-back-to-top-margin);
            right: 20px;
            right: var(--cd-back-to-top-margin);
            display: inline-block;
            height: 40px;
            height: var(--cd-back-to-top-size);
            width: 40px;
            width: var(--cd-back-to-top-size);
            box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
            background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
            background-color: hsla(5, 76%, 62%, .8);
            background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
        }

        .height {
            height: 3000px
        }


        
    </style>
</head>
<body>
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 20) {
                    $('#toTopBtn').fadeIn();
                } else {
                    $('#toTopBtn').fadeOut();
                }
            });

            $('#toTopBtn').click(function () {
                $("html, body").animate({
                    scrollTop: 0
                }, 1000);
                return false;
            });
        });



    </script>
    <a href="#" id="toTopBtn" class="cd-top text-replace js-cd-top cd-top--is-visible cd-top--fade-out" data-abc="true"></a>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <button class="btn btn-dark">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </button>
                        </li>
                        @if (@HttpContextAccessor.HttpContext.Session.GetString("uid") != null)
                        {
                            @if (@HttpContextAccessor.HttpContext.Session.GetString("uid")[0] == 'E')
                            {
                                <li class="nav-item">
                                    <button class="btn btn-dark">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Employees" asp-action="ProblemToDo">ProblemTodo</a>
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button class="btn btn-dark">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Employees" asp-action="ProblemInProcess">ProblemInProcess</a>
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button class="btn btn-dark">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Employees" asp-action="ProblemDone">ProblemDone</a>
                                    </button>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <button class="btn btn-dark">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Citizen" asp-action="Query_Problem">Query New Problem</a>
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button class="btn btn-dark">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Citizen" asp-action="Query_Request">Problem In Request</a>
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button class="btn btn-dark">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Citizen" asp-action="Query_In_Process">Query In Process</a>
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button class="btn btn-dark">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Citizen" asp-action="Query_Solved">Query Solved</a>
                                    </button>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav navbar-nav navbar-center">
                                <button class="btn btn-dark">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">WelCome To Government Helping System</a>
                                </button>
                            </li>
                        }

                </div>
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav navbar-right">
                            <button class="btn btn-dark">
                                <li><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Logout">Logout <i class='fas fa-sign-out-alt' style='color:red'></i></a></li>
                            </button>
                        </ul>
                    </div>
                </nav>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Government_Helping_System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
