@model Government_Helping_System.Models.Citizen

@{
    ViewData["Title"] = "HomePage";
}

<script type="text/javascript">
    $(function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            zoomEnabled: false,
            axisY: {
                includeZero: false,

            },
            axisX: {
                interval: 1,
                intervalType: "day",
                valueFormatString: "DD-MMM",
                labelAngle: -35,

            },
            title: {
                text: "Summary of Problem Requests"
            },
            animationEnabled: true,
            legend: {
                verticalAlign: "center",
                horizontalAlign: "left",
                fontSize: 20,
                fontFamily: "Helvetica"
            },
            theme: "light2",
            data: [
                {
                    type: "pie",
                    indexLabelFontFamily: "Garamond",
                    indexLabelFontSize: 20,
                    indexLabel: "{label} {y}",
                    startAngle: -20,
                    showInLegend: true,
                    toolTipContent: "{legendText} {y}",
                    dataPoints: [
                        { y:@ViewBag.req, legendText: "Problem In Request", label: "Problem In Request" },
                        { y: @ViewBag.rej, legendText: "Problem Rejected", label: "Problem Rejected" },
                        { y: @ViewBag.inp, legendText: "Problem In Process", label: "Problem In Process" },
                        { y: @ViewBag.acc, legendText: "Problem Accepted By Authority", label: "Problem Accepted By Authority" },
                        { y: @ViewBag.comp, legendText: "Problem Solved(Completed)", label: "Problem Solved(Completed)" },
                    ],
                }
            ]
        });
        chart.render();
    });
</script>

<div>
    <h4>Citizen</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date_of_Birth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date_of_Birth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
    </dl>
</div>

<div id="chartContainer"></div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div></div>